#app {
	height: 100%;
}

.mdl-card {
	margin: 3em auto;
	width: 75%;
	max-width: 500px;
}

.guess {
	color: rgba(0, 0, 0, .87);
	text-transform: uppercase;
	text-align: center;
	margin: 1em;
}

form > div {
	text-align: center;
	margin: 2em auto;
}

.row {
	max-width: 600px;
}

.row:after {
	content: "";
	display: table;
	clear: both;
}

.column-title {
	margin-bottom: 1em;
}

.column {
	width: 50%;
	float: left;
}

@media screen and (max-width: 500px) {
	.column {
		margin: 2em auto;
		width: 100%;
		float: none;
	}
}

label.mdl-radio {
	width: 0;
	margin: 0.5ex;
	margin-top: 2em;
}

.mdl-radio__label {
	position: relative;
	bottom: 1.5em;
	right: 1.25em;
}

#log {
	margin: 3em auto;
	border-collapse: collapse;
}

#log td:first-child {
	text-transform: uppercase;
}

#log td:first-child .material-icons {
	float: right;
	vertical-align: text-bottom;
	font-size: 18px;
	color: maroon;
}

#log td, #log th {
	border: 1px solid rgba(0, 0, 0, .3);
	padding: 0.2ex 1ex;
	width: 12ex;
}

#log .exact {
	color: olivedrab;
	text-align: right;
}

#log .misplaced {
	color: maroon;
	text-align: right;
}
