#app {
	height: 100%;
}

.mdl-card {
	margin: 3em auto;
	width: 75%;
	max-width: 500px;
}

.mdl-radio__label {
	position: relative;
	bottom: 1.5em;
	right: 1.25em;
}

.mdl-js-radio {
	width: 0;
}

.grid-container {
	display: grid;
	grid-template-columns: 50% 50%;
}

div.grid-container > div {
	text-align: center;
	margin: 1em;
}

.grid-2-columns {
	grid-column: 1 / span 2;
}

label.mdl-radio {
	margin: 0.5ex;
}

.guess {
	color: rgba(0, 0, 0, .87);
	text-transform: uppercase;
	text-align: center;
	margin: 1em;
}

#log {
	margin: 3em;
	border-collapse: collapse;
}

#log td {
	text-transform: uppercase;
}

#log td, #log th {
	border: 1px solid rgba(0, 0, 0, .87);
	padding: 0.2ex 1ex;
	width: 12ex;
}

#log span.bad {
	text-transform: none;
}

#log .exact {
	color: olivedrab;
	text-align: right;
}

#log .misplaced {
	color: maroon;
	text-align: right;
}
